@font-face {
    font-family: "Papercutting";
    src: url(Papercutting-Pvx2.ttf);
}

.cartas
{
    position: fixed;
    justify-content: center;
    align-self: center;
    bottom: 10px;
}

.falas
{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    font-size: 20px;
    margin: auto;
    gap: 20px;
}

.fala1
{
    display: flex;
    justify-content: flex-start;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
}

.fala2
{
    display: flex;
    justify-content: flex-end;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
}

.pts
{
    position: fixed;
    right: 100px;
    top: 10px;
    align-items: end;
}

.pause
{
    position: fixed;
    right: 10px;
    top: 10px;
    align-items: end;
}