h1
{
    display: flex;
    justify-content: center;
}

.dificuldades
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkblue;
    color: white;
    text-decoration: none;
}