body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

h1
{
    align-self: center;
    font-size: 67px;
}

a
{
    color: white;
    text-decoration: none;
}

.dificuldades
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkblue;
    min-width: 50vh;
    min-height: 50vh;
    font-size: 30px;
    margin-top: 20px;
}
