button {
    width: 380px;
    height: 100px;

    padding: 0;

    font-family: 'Trebuchet MS';
    font-size: 50px;
    font-weight: bold;

    background-color: #be5600;
    color: white;

    border: 4px solid #5a2c05;
    border-radius: 0;

    display: block;
    margin: 12px auto;

    text-align: center;
    cursor: pointer;

    box-shadow: 5px 5px 0 #331900;
}

button:hover {
    background-color: #9e3005;
}

button:active{
  transform: scale(0.8);
}

body{background-color:#ffe0b1;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh; 
}

h1{font-size: 70px;color:#c94e06 ;
    font-family: 'Trebuchet MS';
    text-align: center;



}
main{
    text-align: center;

}
.resenha{
    position:absolute;right:15px;
    top: 40%;
    width:450px
}
.resenha2{
    position:absolute;left:15px;
    top: 30%;
    width:450px;
}